.produtoCarrinho {  
    display: flex;
    flex-direction: column;
    align-items: center;    
  }

  .produtoCarrinho button {
    border: none;
    max-width: 50px;
    background: none;
    margin-top: 1rem;
    transition: ease-in-out .3s;
    cursor: pointer;
  }
  
  .produtoCarrinho button:hover {
    transform: scale(1.1);
  }
  
  .produtoCarrinho button img {
    height: 30px;
    width: 30px;
    margin-bottom: 1rem;
  }

  .produtoComprado {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    max-width: 8.2rem;
    max-height: 8rem;
    height: 100%;
    margin-bottom: 1rem;
}

.produtoComprado img {
  height: 100px;
}

.produtoComprado p {
  font-size: 0.825rem;
  text-align: center;
}