/* Estilos Gerais */
body,
h1,
h2,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.btn {
  padding: 10px 30px;
  background: #87f;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  transition: all 0.3s;
  border: none;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.btn:hover {
  background: #65d;
  transform: scale(1.1);
}

#app {
  background: rgba(245,245,245, .5);
}

/* Estilos do Header */
.header {
  background: #87f;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
}
.logo a{
  color: white;
  transition: .3s;
}
.logo a:hover {
  color: rgba(245,245,245, .5);
  transition: .3s;
}
.nav {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;  
}

.nav a {
  font-size: 2rem;
}

.carrinhoMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
}
.carrinhoMenu:hover {
  transform: scale(1.1);
  transition: .3s;
}
.carrinhoMenu img {
  height: 30px;
  width: 30px;
}
.carrinhoMenu p {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 960px) {
  .nav {
    max-width: 500px;
  }
}

@media (max-width: 570px) {
  .nav {
    max-width: 300px;
  }
}

/* Modal */

.modalContainer {
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0, .5);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  flex: 1;
  position: relative;
  background: white;
  max-width: 900px;
  padding: 30px;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalValorPagar {
  font-size: 1.125rem;
  line-height: 1.5;
}

.modalBotaoFechar {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  border: none;
  background: #87f;
  color: white;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  cursor: pointer;
  font-size: 1.5rem;
  transition: .3s;
}

.modalBotaoFechar:hover {
  background: #65d;
  transform: scale(1.1);
  transition: .3s;
}

/* Estilo do Loading */

.loading {
  text-align: center;
  margin-top: 80px;
}
.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #87f;
  margin: 4px;
  animation: dots 0.6s cubic-bezier(0.6, 0.1, 1, 0.4) infinite alternate;
}
.loading span:nth-child(1) {
  animation-delay: 0.1s;
}
.loading span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading span:nth-child(3) {
  animation-delay: 0.3s;
}
.loading span:nth-child(4) {
  animation-delay: 0.4s;
}
@keyframes dots {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 30px, 0);
  }
}

/* Estilo da lista */

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.headerLista {
  margin: 40px 0;
  text-align: center;
}

.headerLista h2 {
  font-size: 2rem;
  color: #87f;
}

.headerLista p {
  margin: 5px 0 20px 0;
}

.listaProdutos {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  align-content: center;
  justify-content: center;
}

.produto {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
  background: white;
}

.produtoCounteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.produto img {
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  margin-top: 10px;
  border-radius: 4px;
}

.produto:hover {
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  transform: scale(1.1);
  transition: .5s;
  border-radius: 4px;
}

.produto p {
  margin: 5px 0;
}

.precoProduto {
  color: green;
  font-weight: bold;
  font-size: 1.5rem;
}

.scoreProduto {
  font-weight: bold;
}

.btnOrg {
  margin-right: 10px;
}

.btnProduto {
  margin: 10px 0;
}

@media (max-width: 980px) {
  .listaProdutos {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 650px) {
  .listaProdutos {
    grid-template-columns: 1fr;
  }
  .headerLista {
    display: flex;
    flex-direction: column;
  }
  .headerLista button {
    margin-bottom: 20px;
  }
}

/* Footer */

footer {
  background: #87f;
  padding: 25px 0;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  position: relative;
  top: 75px;
}
