/* Estilos Gerais */
body,
h1,
h2,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  transition: ease-in-out .3s;
}

a:hover {
  color: #87f;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'DotGothic16';
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.btn {
  padding: 10px 30px;
  background: #87f;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  transition: ease-in-out 0.3s;
  border: none;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.btn:hover {
  background: #65d;
  transform: scale(1.1);
}

#app {
  background: rgba(245,245,245, .5);
}
